.jeg_post_title {
    letter-spacing : normal;
}

.jeg_postblock_27 .jeg_post_title {
    letter-spacing : normal;
    font-weight : 600;
}

.jeg_pl_sm .jeg_post_title {
    font-size : 16px;
}

.jeg_main_content .mc4wp-form .jeg_mc4wp_heading p {
    display : block;
}

.jeg_main_content .mc4wp-form {
    text-align : center;
}